@section header{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


}

<h4 class="font-monospace"> Lọc theo giá sản phẩm </h4>
<select class="price-sorting type-regular form-control" name="price-sorting">
    <option selected disabled>Mặc định</option>
    <option value="l2h">Giá thấp - cao</option>
    <option value="h2l">Giá cao - thấp</option>
</select>
